alias py='python3'
alias l='ls -CF'
alias ll='ls -lah'
alias cls='clear'
alias tmstmp='date -u +"%Y%m%dT%H%M%SZ"'
alias day='date -u +"%Y-%m-%d"'
alias src-bash='source ~/.bashrc'

# git
alias ga='git add'
alias gap='git add -p'
alias gb='git branch'
alias gbl='git branch --list'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcan='git commit --amend --no-edit'
alias gch='git checkout'
alias gs='git status'
alias gsw='git show'
alias gst='git stash'
alias gl='git log --oneline'
alias glg='git log --graph'
alias glsr='git ls-remote'
alias gd='git diff'
alias gdn='git diff --name-only'
alias gps='git push'
alias gpl='git pull'
alias grs='git reset --soft'
alias grt='git restore'
alias grts='git restore --staged'
alias ghs='git rev-parse HEAD'

# scripts
alias grepp="$DOTFILES_DIR/scripts/grepp.sh"
alias repo-size="$DOTFILES_DIR/scripts/repo-size.sh"
alias docker-psp="$DOTFILES_DIR/scripts/docker-psp.sh"

alias tppm="$DOTFILES_DIR/install/tppm.sh"
